#Shell
alias :q='exit'
alias cp='cp -i'
alias rm='rm -i'
alias mv='mv -i'
alias ln='ln -i'
alias md='mkdir'

# Печатать размеры файлов в удобном для человека виде
alias df='df -h'

# По умолчанию пинговать 5 раз
alias ping='ping -c 5'

#some git
alias py='python'
alias gti='git'
alias st='git status'

#k8s
alias k="kubectl"
