### Added for Golang
#export GOPATH=/Users/avezhenya/work/go
#export PATH=$PATH:/usr/local/go/bin
export PATH=$PATH:/Users/avezhenya/go/bin
export GOPRIVATE=github.com/KosyanMedia

### Added for VSCode
export PATH="$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

### Pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
if command -v pyenv 1>/dev/null 2>&1; then
  eval "$(pyenv init -)"
  eval "$(pyenv init --path)"
fi

### Poetry
export PATH="$HOME/.poetry/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
