[user]
	name = avezhenya
	email = avezhenya@gmail.com
[push]
	default = matching
[help]
	autocorrect = true

[merge]
    tool = threesome

[mergetool "threesome"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
    trustExitCode = true

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    up = !sh -c 'git pull --rebase --prune && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'
    ls = ls-files
    svnup = svn rebase
    spull = svn rebase
    spush = svn dcommit
    sfetch = svn fetch
    b = branch
    br = branch
    t = tag
    d = diff --stat -p -C
    ds = diff --staged --stat -p -C
    ci = commit -v
    co = checkout
    st = status -sb
    pr = pull --rebase
    cdiff = diff --color
    l   = log -p
    vimdiff = difftool -t vimdiff
    guilt = "!f(){ git log --pretty='format:%an <%ae>' $@ | sort | uniq -c | sort -rn; }; f"
[github]
	user = avezhenya
[core]
	excludesfile = ~/.dotfiles/.gitignore_global
